body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: hotpink;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro > div {
  margin: 4px;
  padding-top: 4px;
  font-size: 18px;
  display: flex;
  width: 1050px;
}

.intro > div.small {
  padding-bottom: 4px;
  margin: 4px;
  font-size: 13px;
  display: flex;
  width: 1050px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  color: #666699;
  font-family: "Lucida Console", "Courier New", monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  background-color: #333344;
  height: 192px;
  width: 1050px;
  margin: 4px;
  padding: 2px;
}

.flex-row:hover {
  border: 2px solid #FFFFFF;
  background-color: #555566;
}

.flex-info {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.flex-info > div {
  margin: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.flex-info > div.bottom {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-right: 25px;
  line-height: 12pt;
  font-size: 12px;
  align-content: flex-end;
  text-align: right;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #AAAACC;
}
